/*navigation*/
.navbar-fixed {
  font-family: Oswald;
}
.site-nav {
  padding: 0 30px;
}
#nav-mobile a{
  color: black;
  font-size: 1.25rem;
  letter-spacing: 3px;
  font-weight: 400;
}
#nav-mobile .active {
  border-bottom: 3px solid #00b0ff;
}
#nav-mobile li.active a {
  color: white !important;
}

/*generic content*/
.content-column {
  width: 80%;
  margin: 30px auto;
  height: 1500px;
}


/*home page content*/
.content.home .home-title-cont {
  font-family: Oswald;
}
.content.home .home-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30pt;
  letter-spacing: 2px;
}
.content.home .home-subtitle {
  text-align: center;
  font-size: 15pt;
}
.content.home .home-basicinfo {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content.home .home-basicinfo > div {
  padding: 0 40px;
  font-size: 16pt;
  min-width: 20%;
}
.content.home .home-basicinfo i {
  padding-right: 30px;
  color:#0288d1;
}
.content.home .home-basicinfo > div:not(:last-of-type) {
  border-right: 1px solid #d0d0d0;
}
