body {
  background: #efefef;
}

.navbar-fixed{
  height: 0;
}
#response-form .form-icon {
  text-align: right;
}
#response-form {
}
#main_header {
  box-shadow: 0 1px 3px 0 #b9b9b9;
  background:#f9f9f9;
  height: 100px;
}
/*#site_navigation{
  background: #254b87;
  margin-bottom: 5px;
}*/

.nav_page_links.active {
  border-bottom: 2px solid #f9f9f9;
}
.nav_page_links{
  min-width: 150px;
  text-align: center;
  border-bottom: 2px hidden #f9f9f9;
  transition: border-bottom-style .3s;
  letter-spacing: 0.5px;
}



.bold-text {
  font-weight: bold;
}

/*messing with parallax stuff*/
.parallax-container {
  height: 250px;
}
.gradient-across {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(255,0,0,0), rgba(13,71,161,1), rgba(13,71,161,1));
  height: 100%;
  width: 70%;
}
#cah_title_area {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "Lato";
  transition: bottom .5s;
}
#cah_title_area.minimized {
  bottom: -65px;
}
#cah_title_area .main-title {
  font-size: 100px;
  transition: font-size .5s;
}
#cah_title_area .main-title.minimized {
  font-size: 50px;
}
#cah_title_area .sub-title {
  font-size: 30px;
}

#site_navigation {

}
#site_navigation > .row {
  margin: 0 20rem;
}
#site_navigation .nav_button{
  padding: 10px 40px;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color .5s;
  text-align: center;
}
#site_navigation .nav_button.active {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
#site_content {
  height: 2000px;
}



/* Main Content*/

#main-content {
}
#main-content.container {
  padding: 10px;
}
#main-content .row.header-image {
}
.dropdown-content a {
  font-weight: normal !important;
}

/* subsection */
.subsection{
  width: 100%;
  padding-top: 70px;
}


.subsec-header .card-panel.left{
  height: 93px;
}
.subsec-header .card-panel.left span{
  float: left;
  padding-left: 20px;
}
.subsec-header .card-panel.right{
  height: 93px;
}
.subsec-header .card-panel.right span{
  float: right;
  padding-right: 20px;
}


.subsec-text.left{
  text-align: justify;
}
.subsec-text.right{
  text-align: justify;
}
.subsection .header-card {
  border-radius: 10px !important;
  padding: 10px;
  font-size: 3.25rem;
  width: 100%;
}
.subsec-text{
  padding: 0 5em;
  font-size: 17px;
}
